In [46]:
# Import packages

import pandas as pd

# Merge Training Preprocessed Sets

In [47]:

# Load Training Data
FAKES_data = pd.read_feather("../preprocessed_datasets/crime/FA-KES.feather")  # Train

# Health
COVIDFN_data = pd.read_feather("../preprocessed_datasets/health/COVID-FN.feather")  # Train
COVIDFNIR_data = pd.read_feather("../preprocessed_datasets/health/COVID-FNIR.feather")  # Train

# Politics
FakeNews_data = pd.read_feather("../preprocessed_datasets/politics/FakeNews.feather") # Train
ISOT_politics_data = pd.read_feather("../preprocessed_datasets/politics/ISOT_politics_part.feather") # Train
LIAR_data = pd.read_feather("../preprocessed_datasets/politics/LIAR.feather")   # Train

# Science
climate_data = pd.read_feather("../preprocessed_datasets/science/climate.feather")   # Train

# Social Media
gossipcop_data = pd.read_feather("../preprocessed_datasets/social-media/gossipcop.feather")  # Train

In [48]:
# Combine training sets
training_dataset = pd.concat([FAKES_data, COVIDFN_data, COVIDFNIR_data, FakeNews_data, ISOT_politics_data, LIAR_data, climate_data, gossipcop_data], ignore_index=True)
print(training_dataset)
print(training_dataset['classification'].value_counts())

                                                    text  label  \
0      Wed 05 Apr 2017 Syria attack symptoms consiste...      1
1      Fri 07 Apr 2017 at 0914 Homs governor says U.S...      1
2      Sun 16 Apr 2017 Death toll from Aleppo bomb at...      1
3      Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...      1
4      Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...      1
...                                                  ...    ...
90087  2017 Hollywood Film Awards: The Complete List ...      1
90088  Jada Pinkett Smith explains why son Jaden move...      1
90089  Tinsley Mortimer Reacts to Luann de Lesseps' R...      1
90090  Prince Harry Carries on Princess Diana’s Legac...      1
90091  Kylie Jenner is actually terrified of butterflies      1

       classification                                           metadata title
0                   0  {'date': '4/5/2017', 'label': 1, 'location': '...   NaN
1                   0  {'date': '4/7/2017', 'label': 1, 'location': '...   NaN
2                   0  {'date': '4/16/2017', 'label': 1, 'location': ...   NaN
3                   0  {'date': '4/19/2017', 'label': 1, 'location': ...   NaN
4                   0  {'date': '7/10/2016', 'label': 1, 'location': ...   NaN
...               ...                                                ...   ...
90087               4  {'label': 1, 'text': '2017 Hollywood Film Awar...   NaN
90088               4  {'label': 1, 'text': 'Jada Pinkett Smith expla...   NaN
90089               4  {'label': 1, 'text': 'Tinsley Mortimer Reacts ...   NaN
90090               4  {'label': 1, 'text': 'Prince Harry Carries on ...   NaN
90091               4  {'label': 1, 'text': 'Kylie Jenner is actually...   NaN

[90092 rows x 5 columns]
classification
2    55534
4    22140
1    10707
3      907
0      804
Name: count, dtype: int64

In [49]:
training_dataset = training_dataset[['text', 'label', 'classification']]

In [50]:
# Save to file
training_dataset.to_feather("../preprocessed_datasets/classification_train.feather")

In [51]:
pd.read_feather("../preprocessed_datasets/classification_train.feather")

,text,label,classification
0,Wed 05 Apr 2017 Syria attack symptoms consiste...,1,0
1,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,1,0
2,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,1,0
3,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,1,0
4,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,1,0
...,...,...,...
90087,2017 Hollywood Film Awards: The Complete List ...,1,4
90088,Jada Pinkett Smith explains why son Jaden move...,1,4
90089,Tinsley Mortimer Reacts to Luann de Lesseps' R...,1,4
90090,Prince Harry Carries on Princess Diana’s Legac...,1,4
90091,Kylie Jenner is actually terrified of butterflies,1,4

# Merge Testing Preprocessed Sets

In [52]:
# Load Testing Data

# Crime
snope_data = pd.read_feather("../preprocessed_datasets/crime/snope.feather")   # Test

# Health
COVID_Claims = pd.read_feather("../preprocessed_datasets/health/COVID-Claims.feather")  # Test

# Politics
pheme_data = pd.read_feather("../preprocessed_datasets/politics/pheme.feather") # Test
politifact_data = pd.read_feather("../preprocessed_datasets/politics/politifact.feather") # Test

# Science
ISOT_science_data = pd.read_feather("../preprocessed_datasets/science/ISOT_science_part.feather") # TEst

# Social Media
ISOT_social_data = pd.read_feather("../preprocessed_datasets/social-media/ISOT_social_part.feather") # Test

In [53]:
# Combine testing sets
testing_dataset = pd.concat([snope_data, COVID_Claims, pheme_data, politifact_data, ISOT_science_data, ISOT_social_data], ignore_index=True)
print(testing_dataset)
print(testing_dataset['classification'].value_counts())

                                                    text  label  \
0      Was an Italian Economist Removed from a Plane ...      0
1       Shelby Township Meijer Human Trafficking Warning      1
2       Shelby Township Meijer Human Trafficking Warning      1
3       Shelby Township Meijer Human Trafficking Warning      1
4       Shelby Township Meijer Human Trafficking Warning      1
...                                                  ...    ...
53309  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
53310  LONDON (Reuters) - LexisNexis, a provider of l...      0
53311  MINSK (Reuters) - In the shadow of disused Sov...      0
53312  MOSCOW (Reuters) - Vatican Secretary of State ...      0
53313  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

       classification                                           metadata  \
0                   0  {'article_category_phase1': 'Crime', 'article_...
1                   0  {'article_category_phase1': 'Crime', 'article_...
2                   0  {'article_category_phase1': 'Crime', 'article_...
3                   0  {'article_category_phase1': 'Crime', 'article_...
4                   0  {'article_category_phase1': 'Crime', 'article_...
...               ...                                                ...
53309               4  {'date': 'August 22, 2017 ', 'subject': 'world...
53310               4  {'date': 'August 22, 2017 ', 'subject': 'world...
53311               4  {'date': 'August 22, 2017 ', 'subject': 'world...
53312               4  {'date': 'August 22, 2017 ', 'subject': 'world...
53313               4  {'date': 'August 22, 2017 ', 'subject': 'world...

      title author
0       NaN    NaN
1       NaN    NaN
2       NaN    NaN
3       NaN    NaN
4       NaN    NaN
...     ...    ...
53309   NaN    NaN
53310   NaN    NaN
53311   NaN    NaN
53312   NaN    NaN
53313   NaN    NaN

[53314 rows x 6 columns]
classification
2    27576
4    21725
1     2821
3      877
0      315
Name: count, dtype: int64

In [54]:
testing_dataset = testing_dataset[['text', 'label', 'classification']]

In [55]:
# Save to file
testing_dataset.to_feather("../preprocessed_datasets/classification_test.feather")

In [56]:
pd.read_feather("../preprocessed_datasets/classification_test.feather")

,text,label,classification
0,Was an Italian Economist Removed from a Plane ...,0,0
1,Shelby Township Meijer Human Trafficking Warning,1,0
2,Shelby Township Meijer Human Trafficking Warning,1,0
3,Shelby Township Meijer Human Trafficking Warning,1,0
4,Shelby Township Meijer Human Trafficking Warning,1,0
...,...,...,...
53309,BRUSSELS (Reuters) - NATO allies on Tuesday we...,0,4
53310,"LONDON (Reuters) - LexisNexis, a provider of l...",0,4
53311,MINSK (Reuters) - In the shadow of disused Sov...,0,4
53312,MOSCOW (Reuters) - Vatican Secretary of State ...,0,4
53313,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,0,4